# Dépendances
node_modules/
/**/node_modules/

# Fichiers d'environnement
.env
.env.local
.env.development
.env.test
.env.production
/**/.env
/**/.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Fichiers d'état
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dossiers de build
/dist
/**/dist
/build
/**/build
/out
/**/out
